{% extends 'flatpages/default.html' %}

{% block content %}
<h2> Войти в систему </h2>
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table align="center">
    <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
    </tr>
    <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
    </tr>
    </table>

    <input type="submit" value="Войти">

    {% if form.errors %}
        <ul>
        {% for key,value in form.errors.items %}
            <li>{{ value|escape }}</li>
        {% endfor %}
        </ul>
    {% endif %}

</form>
<form action="/newsboard/signup" method="get">
      <input type="submit" value="Регистрация" />
</form>
{% endblock %}